@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-links{
    margin-right: 120px;
    margin-top: 35px;
    margin-bottom: 50px;
}
.nav-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: #3A3A3A;
}
.brand{
    font-weight: bold;
    font-size: 1.5rem;
    color: #3A3A3A;
    margin-left: 120px;
}
/* banner related styles */
.banner{
    justify-content: space-between;
}
.banner-content{
    max-width: 580px;
    margin-left: 120px;
    margin-top: 145px;
}
.banner-title{
    font-weight: bold;
    font-size: 3.25rem;
    margin-bottom: 16px;
}
.banner-description{
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 16px;
}
.banner-photo{
    background-image: url("../images/Circle\ design.svg");
    width: 475px;
    height: 475px;
    margin-right: 132px;
    margin-top: 100px;
}
.banner-photo img{
    width: 100%;
}
.btn-primary{
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
    margin-top: 16px;
}

/* sponsor styles */
.sponsors{
    max-width: 1110px;
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
    border: 2px solid rgba(192, 204, 218, 0.6);
    padding: 35px 62px;
}

/* responsive query */
@media screen and (max-width:576px) {
    .navbar, .nav-links, .brand{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-content{
        text-align: center;
        margin: 0 auto;
    }
    .banner-photo{
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .sponsors{
        border: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .sponsors img{
        display: block;
        margin: 0 auto;
    }
    .sponsors img[src="logos/Walmart.svg"] {
        grid-column: 2;
        grid-row: 3;
    }

}